* {
    margin: 30px;
}

#header{
    border-radius: 30px;
    border: 10px solid black;
    padding: 30px;
    width: auto;
    height: 90px;
    background-color: darkgreen;
    font-size: 75px;
}

#h2{
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
}

#text{
    font-size: 30px;
}

#footer{
    font-size: 35px;
    font-weight: bold;
}

li {
    font-size: 30px;
}

img {
    width: 300px;
    height: 300px;
}

body {
    background-color: gray;
}

.center {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
}
